<!-- giscus -->
<div class="doc_comments">
    <div class="comments_block_title">发表评论</div>
    <div id="comments"></div>
</div>
<style>.giscus, .giscus-frame { margin-bottom: 48px; }</style>
<script src="https://giscus.app/client.js"
        data-repo="QCute/qcute.github.io"
        data-repo-id="R_kgDOG-5qXQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOG-5qXc4CSRb_"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>